{{ define "main" }}

<!-- page title -->
<section class="page-title-tab-alt position-relative overflow-hidden service">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-2">
        <h1 class="service-title">{{ .Site.Data.about_antcicada.title }}</h1>
        <ul class="nav justify-content-center service-nav">
          <li class="nav-item px-3" id="society_link">
            <a href="{{.Site.BaseURL}}/about_antcicada/society" class="nav-link">目指す社会</a>
          </li>
          <li class="nav-item px-3" id="message_link">
            <a href="{{.Site.BaseURL}}/about_antcicada/message" class="nav-link">代表メッセージ</a>
          </li>
          <li class="nav-item px-3" id="member_link">
            <a href="{{.Site.BaseURL}}/about_antcicada/member" class="nav-link">メンバー紹介</a>
          </li>
          <li class="nav-item px-3" id="company_link">
            <a href="{{.Site.BaseURL}}/about_antcicada/company" class="nav-link">会社概要</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="society" class="tab-pane">
            {{ range .Site.Data.about_antcicada.society.item }}
            <div class="text-center col-md-12 col-sm-12 my-4">
              <h2 class="d-inline">{{ .title }}</h2>
              <h5 class="d-inline ml-1">{{ .subtitle }}</h5>
            </div>
            <div class="col-md-10 offset-md-1 col-sm-12 mt-4 text-center mx-auto">
            {{ range .content }}
              <p class="my-0 text-left d-inline-block">{{ .text | safeHTML }}</p>
            {{ end }}
            </div>
            {{ end }}
          </div>
          <div id="message" class="tab-pane">
            <div class="col-md-6 offset-md-3 col-sm-12 mt-4">
              <img class="rounded img-top" src="{{ .Site.Data.about_antcicada.message.image | relURL }}" alt="{{ .Site.Data.about_antcicada.message.title }}">
            </div>
            <div class="col-md-10 offset-md-1 col-sm-12 my-4 text-center mx-auto">
              <h2 class="my-4 text-center">{{ .Site.Data.about_antcicada.message.quote }}</h2>
              {{ range .Site.Data.about_antcicada.message.content }}
              <p class="my-2 text-left d-inline-block">{{ .text | safeHTML }}</p>
              {{ end }}
              <h5 class="my-4 text-center">{{ .Site.Data.about_antcicada.message.sign }}</h5>
            </div>
          </div>
          <div id="member" class="tab-pane">
            {{ range .Site.Data.about_antcicada.member.item }}
            <div class="col-md-12 col-sm-12 my-4">
              <h3>{{ .title }}</h3>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <img class="rounded img-top" src="{{ .image | relURL }}" alt="{{ .title }}">
              </div>
              <div class="col-md-6 col-offset-2 col-sm-12 my-4 text-center mx-auto">
                {{ range .description }}
                <p class="my-0 text-left d-inline-block">{{ .text | safeHTML }}</p>
                {{ end }}
              </div>
            </div>
            <hr class="mt-5" />
            {{ end }}
          </div>
          <div id="company" class="tab-pane">
            <table class="mx-auto mt-5 w-auto table table-borderless">
              <tbody>
                {{ range .Site.Data.about_antcicada.company }}
                <tr>
                  <td class="text-nowrap">
                    <h4>{{ .title }}</h4>
                  </td>
                  <td>
                    {{ range .content }}
                    <p class="my-0 ml-5">{{ .text }}</p>
                    {{ end }}
                  </td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- background shapes -->
</section>
<!-- /page title -->

{{ with .File }}
<script>
  let tabId = "{{ .Dir }}".replace("about_antcicada/", "").replace("/", "");
  let tabItemId = tabId + "_link";
  let tabItem = document.getElementById(tabItemId);
  let tab = document.getElementById(tabId);
  tabItem.classList.add("active");
  tab.classList.add("active");
</script>
{{ end }}

{{ end }}
