{{ define "main" }}

<!-- page title -->
<section class="page-title-tab-alt position-relative overflow-hidden service">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-2">
        <h1 class="service-title">{{ .Site.Data.service.title }}</h1>
        <ul class="nav justify-content-center service-nav">
          <li class="nav-item px-3 active" id="restaurant_link">
            <a href="{{.Site.BaseURL}}/service/restaurant" class="nav-link">飲食事業</a>
          </li>
          <li class="nav-item px-3" id="food_link">
            <a href="{{.Site.BaseURL}}/service/food" class="nav-link">商品事業</a>
          </li>
          <li class="nav-item px-3" id="consulting_link">
            <a href="{{.Site.BaseURL}}/service/consulting" class="nav-link">コンサルティング事業</a>
          </li>
          <li class="nav-item px-3" id="education_link">
            <a href="{{.Site.BaseURL}}/service/education" class="nav-link">教育事業</a>
          </li>
        </ul>
        <div id="restaurant" class="tab-pane">
          {{ with index .Site.Data.service.restaurant.item 1}}
          <div class="col-md-12 col-sm-12 my-4">
            <h2>{{ .title }}</h2>
          </div>
          <div class="row">
            {{ range .about }}
            <div class="col-lg-4 offset-lg-1 col-8 offset-2 my-2">
              <img class="rounded img-top" src="{{ .image | relURL }}" alt="{{ .title }}">
            </div>
            <div class="col-lg-6 offset-lg-2 col-10 my-4 text-center mx-auto my-auto">
              <p class="my-0 text-left d-inline-block">{{ .content | safeHTML }}</p>
            </div>
            {{ end }}
          </div>
          <div class="col-md-10 offset-md-1 col-sm-12">
            <h3 class="text-center my-4">営業時間</h3>
            {{ range .business_hours }}
            <p class="my-0 text-center ">{{ .text | safeHTML }}</p>
            {{ end }}
            <h3 class="text-center my-4">メニュー</h3>
            {{ range .menu }}
            <p class="my-0 text-center">{{ .title }} {{ .price }}</p>
            {{ end }}
            <p class="my-0 text-center">その他にも様々なメニューを取り揃えております</p>
          </div>
          {{ range .description }}
          <div class="col-md-10 offset-md-1 col-sm-12 text-center mx-auto">
            <h3 class="text-center my-4">{{ .title }}</h3>
            {{ range .content }}
            <p class="my-0 text-left d-inline-block ">{{ .text | safeHTML }}</p>
            {{ end }}
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <!-- background shapes -->
</section>
<!-- /page title -->

{{ end }}
