{{ define "main" }}
  <!-- <style> -->
  <!--   .navigation { -->
  <!--     background&#45;color: transparent; -->
  <!--   } -->
  <!-- </style> -->

  <!-- hero area -->
  <section class="hero-area bg-primary overflow-hidden" id="parallax">
    <!-- <div class="container"> -->
    <!--   <div class="row"> -->
    <!--     <div class="col&#45;lg&#45;11 mx&#45;auto"> -->
    <!--       <h1 class="big text&#45;white font&#45;tertiary">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
    <div class="layer-bg w-100">
      <video class="img-overlay-hero" alt="bg-shape"
        poster="{{`images/backgrounds/top_bg.jpg` | relURL}}" autoplay loop muted preload playsinline>
        <source src="{{`images/backgrounds/top_bg.mp4` | relURL}}" type="video/mp4">
      </video>
    </div>
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      {{ range .Site.Params.social }}
      <li class="mb-3"><a class="text-dark" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
      {{ end }}
    </ul>
    <!-- /social icon -->
  </section>
  <!-- /hero area -->

  {{ if .Site.Data.homepage.news.enable }}
  {{ with .Site.Data.news }}
  <!-- experience -->
  <section class="section" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
        </div>
        <div class="col-lg-12 d-flex justify-content-center">
          <ul class="news-list">
            {{ range first 5 (sort .item "date" "desc") }}
            <li class="my-3">
              {{ if .url }}
              <a href={{ .url | safeURL }}>
                <span class="news-list-date">{{.date}}</span>
                <span class="news-list-title">{{.title}}</span>
              </a>
              {{ else }}
              <span class="news-list-date">{{.date}}</span>
              <span class="news-list-title">{{.title}}</span>
              {{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="news-more col-lg-12">
          <a class="text-dark" href="/antcicada_hp/news">ニュース一覧はこちら</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /news -->
  {{ end }}
  {{ end }}

  {{ if .Site.Data.homepage.service.enable }}
  {{ with .Site.Data.homepage.service }}
  <!-- services -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h2 class="section-title">{{.title | markdownify }}</h2>
        </div>
        {{ range .item }}
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="/antcicada_hp/{{.url | safeURL}}">
            <article class="card shadow">
              <img class="rounded card-img-top" src="{{.image | relURL}}" alt="{{.title }}">
              <div class="card-body">
                <h4 class="card-title"><a class="text-dark" href="/antcicada_hp/{{.url}}">{{.title }}</a>
                </h4>
                <p class="cars-text">{{.content}}</p>
              </div>
            </article>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- /services -->
  {{ end }}
  {{ end }}

  {{ if .Site.Data.homepage.about_antcicada.enable }}
  {{ with .Site.Data.homepage.about_antcicada }}
  <!-- about_antcicada -->
  <section class="section position-relative section-bg overflow-hidden">
    <div class="layer-bg w-100">
      <img class="img-overlay" src="{{`images/backgrounds/about_antcicada.jpg`|relURL}}" alt="bg-image">
    </div>
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 class="text-white section-title section-about">{{ .title | markdownify }}</h2>
          {{ range .item }}
          <p class="text-white p-about">{{ .content | markdownify }}</p>
          {{ end }}
          <a class="btn btn-light btn-sm my-4" href="/antcicada_hp{{ .url | safeURL }}">さらにJOIN EARTHについて知る</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /about_antcicada -->
  {{ end }}
  {{ end }}

  {{ if .Site.Data.homepage.antcicada_times.enable }}
  {{ with .Site.Data.homepage.antcicada_times }}
  <!-- antcicada_times -->
  <section class="section position-relative overflow-hidden">
    <!-- <div class="layer&#45;bg w&#45;100"> -->
    <!--   <img class="img&#45;overlay" src="{{`images/backgrounds/about_insect.jpg`|relURL}}" alt="bg&#45;image"> -->
    <!-- </div> -->
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 class="section-title section-about">{{ .title | markdownify }}</h2>
          {{ range .item }}
          <p class="p-about">{{ .content | markdownify }}</p>
          {{ end }}
          <a class="btn btn-dark btn-sm my-4" href="/antcicada_hp{{ .url | safeURL }}">さらにANTCICADA TIMESについて知る</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /antcicada_times -->
  {{ end }}
  {{ end }}


{{ end }}
